@charset "UTF-8";
/*Primary Style*/
/*Secondary Style*/
/*Default WET Colors*/
/*********************************
  General Changes
*********************************/
/*HTML Element style changes*/
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Raleway";
  color: #333;
  font-weight: 400;
}

main {
  margin-top: 5px;
}

img {
  -ms-interpolation-mode: bicubic;
}

::selection {
  background: #af3c43;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

::-moz-selection {
  background: #af3c43;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.row {
  margin-bottom: 12px;
}

.row-nomargin {
  margin-bottom: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding: 6px 15px;
}

.col-nopad {
  padding: 0px;
}

.col-nopad-topbot {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*********************************
  General Changes End
*********************************/
/*********************************
  Typography
*********************************/
.font-primary {
  font-family: "Raleway";
}

.font-secondary {
  font-family: "Montserrat";
}

.font-light {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  cursor: default;
}

h1 {
  border: none;
  font-weight: 800;
  font-size: 44px;
  position: relative;
  border-bottom: 2px solid #af3c43;
  padding-bottom: 5px;
}

h1::first-letter {
  font-size: 58px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
}

h3, h4, h5, h6 {
  margin-top: 16px;
}

h4 {
  font-size: 1.2em;
  padding-bottom: 2px;
  border-bottom: 1px solid #333;
}

h4 small {
  font-size: 65%;
}

h6 {
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 1px;
  border-bottom: 1px solid #333;
}

.h-alt {
  background-color: #333;
  color: #fff;
  padding-left: 15px;
  border-bottom: none;
  border-radius: 2px;
  margin-bottom: 6px;
}

.h-alt small {
  color: #dfdfdf;
}

h2.h-alt, h3.h-alt, h4.h-alt, h5.h-alt, h6.h-alt {
  padding-bottom: 6px;
  padding-top: 6px;
}

h2.h-alt {
  background-color: #af3c43;
}

h4.h-alt, h6.h-alt {
  background-color: #0060DF;
}

blockquote cite {
  margin-left: 10px;
}

.inline-code-blocks {
  padding: 3px 7.5px 3px 7.5px;
  background-color: #23241f;
  border-radius: 4px;
  margin-right: 4px;
  font-size: 13px;
  white-space: nowrap;
  color: #f8f8f2;
}

.inline-code-yellow {
  color: #e6db74;
}

.inline-code-pink {
  color: #f92672;
}

.inline-code-purple {
  color: #ae81ff;
}

.inline-code-blue {
  color: #66d9ef;
}

.inline-code-green {
  color: #a6e22e;
}

.inline-code-grey {
  color: #75715e;
}

.inline-code-lightgrey {
  color: #a8a8a2;
}

/*********************************
  Typography END
*********************************/
/*********************************
  Components - Buttons
*********************************/
.btn {
  border: none;
  font-family: "Montserrat";
  border-radius: 6px;
  font-weight: 400;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 1px solid transparent;
}

.btn-lg {
  font-size: 24px;
}

.btn-default {
  color: #333;
  text-shadow: none;
  background-color: #d9dadc;
  border-color: #d9dadc;
}

.btn-default:hover {
  color: #333;
  background-color: #eaebed;
  border-color: #eaebed;
}

.btn-default.active, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:focus, .btn-default.active.focus,
.btn-default:focus, .btn-default.focus, .btn-default.active:hover, .btn-default:active:hover {
  color: #333;
  background-color: #cfd1d5;
  border-color: #8b8b8b;
}

.btn-primary {
  border-color: #2572b4;
}

.btn-primary:hover {
  background-color: #0091ea;
  border-color: #0091ea;
}

.btn-primary.active,
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
.btn-primary:focus, .btn-primary.focus {
  background-color: #1c578a;
  border-color: #0F2E4A;
}

.btn-success {
  color: #111;
  background-color: #689f38;
  text-shadow: none;
  border-color: #689f38;
}

.btn-success:hover {
  color: #111;
  background-color: #79cc03;
  border-color: #79cc03;
}

.btn-success.active,
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
.btn-success:focus, .btn-success.focus {
  color: #111;
  background-color: #558b2f;
  text-shadow: none;
  border-color: #3F6623;
}

.btn-warning {
  color: #333;
  text-shadow: none;
}

.btn-warning:hover {
  color: #333;
  background-color: #ffea00;
  border-color: #ffea00;
}

.btn-warning.active, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:focus, .btn-warning.active.focus,
.btn-warning:focus, .btn-warning.focus, .btn-warning.active:hover, .btn-warning:active:hover {
  color: #111;
  background-color: #c2aa0a;
  text-shadow: none;
  border-color: #827207;
}

.btn-danger {
  color: #FFF;
  background-color: #bc3331;
}

.btn-danger:hover {
  color: #333;
  background-color: #f44336;
  border-color: #f44336;
}

.btn-danger.active, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:focus, .btn-danger.active.focus,
.btn-danger:focus, .btn-danger.focus, .btn-danger.active:hover, .btn-danger:active:hover {
  color: #FFF;
  background-color: #962927;
  text-shadow: none;
  border-color: #7D2220;
}

.btn-link {
  box-shadow: none;
}

.btn-cdo1 {
  color: #FFF;
  background: linear-gradient(-130deg, #5f459b, #8d469a);
  border: none;
}

.btn-cdo1:hover, .btn-cdo1:active, .btn-cdo1:focus, .btn-cdo1:active:hover {
  color: #FFF;
  background: linear-gradient(45deg, #5f459b, #8d469a);
  border: none;
}

.btn-cdo2 {
  color: #333;
  text-shadow: none;
  background: linear-gradient(-130deg, #a3d6cf, #00adba);
  border: none;
}

.btn-cdo2:hover, .btn-cdo2:active, .btn-cdo2:focus, .btn-cdo2:active:hover {
  color: #333;
  text-shadow: none;
  background: linear-gradient(45deg, #a3d6cf, #00adba);
  border: none;
}

.btn-cdo3 {
  color: #FFF;
  background: linear-gradient(-130deg, #DB7B60, #d12131);
  border: none;
}

.btn-cdo3:hover, .btn-cdo3:active, .btn-cdo3:focus, .btn-cdo3:active:hover {
  color: #FFF;
  background: linear-gradient(45deg, #DB7B60, #d12131);
  border: none;
}

.btn-cdo4 {
  color: #FFF;
  background: linear-gradient(-130deg, #77b8b9, #0b5991);
  border: none;
}

.btn-cdo4:hover, .btn-cdo4:active, .btn-cdo4:focus, .btn-cdo4:active:hover {
  color: #FFF;
  background: linear-gradient(45deg, #77b8b9, #0b5991);
  border: none;
}

.btn.disabled, .btn[disabled] {
  border: none;
  pointer-events: not-allowed;
}

/*********************************
  Components - Buttons END
*********************************/
/*********************************
  Components - Lists
*********************************/
.list-group-item-success.active {
  background-color: #689f38 !important;
  border-color: #689f38 !important;
}

.list-group-item-info.active {
  background-color: #1c578a !important;
  border-color: #1c578a !important;
}

.list-group-item-warning.active {
  background-color: #f2d40d !important;
  border-color: #f2d40d !important;
  color: #333 !important;
}

.list-group-item-danger.active {
  background-color: #bc3331 !important;
  border-color: #bc3331 !important;
}

.list-style-custom {
  list-style-type: none;
}

.list-style-custom li {
  margin-left: 30px;
}

.list-style-custom li:before {
  position: absolute;
  margin-left: -30px;
}

.list-style-check:before {
  content: "✔️";
  color: #00c853;
}

.list-style-cross:before {
  content: "❌";
  color: #d32f2f;
}

.list-style-thumbup:before {
  content: "👍";
  color: #00c853;
}

.list-style-thumbdown:before {
  content: "👎";
  color: #d32f2f;
}

.list-style-fire:before {
  content: "🔥";
  color: #d32f2f;
}

.list-style-star:before {
  content: "⭐";
  color: #ffd600;
}

.list-style-heart:before {
  content: "❤️";
  color: #d32f2f;
}

.list-style-trophy:before {
  content: "🏆";
  color: #ffd600;
}

.badge {
  font-family: "Montserrat";
  color: #000;
  margin-top: 1px;
  background-color: #FFF;
  border: 1px solid #6d6d6d;
  border-radius: 14px;
  font-weight: 400;
}

.badge-alt {
  border-radius: 2px;
  box-shadow: none;
  font-weight: 800;
  background-color: #4f4f4f;
  color: #fff;
  border: none;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*********************************
  Components - Lists END
*********************************/
/*********************************
  Components - Panels
*********************************/
.panel-heading {
  padding: 4px 7px;
  background-color: #FFF !important;
  border-bottom: none;
}

.panel-heading button {
  font-family: "Raleway";
  border: none;
  background: none;
}

.panel-heading button.active {
  border-bottom: 2px solid #4b4b4b;
}

.panel-footer.panel-footer-nospacing {
  border-top: none;
  padding: 0;
}

.panel-footer.panel-footer-nospacing pre {
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  padding: 0;
  border: none;
}

.panel-footer.panel-footer-nospacing pre code {
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.panel-primary .panel-heading .panel-title {
  color: #2572b4;
}

.panel-primary .panel-footer {
  background-color: #2572b4;
  border-top: none;
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-success .panel-heading .panel-title {
  color: #3F6623;
}

.panel-success .panel-footer {
  background-color: #689f38;
  border-color: #689f38;
  border-top: none;
  color: #000;
}

.panel-warning .panel-heading .panel-title {
  color: #827207;
}

.panel-warning .panel-footer {
  background-color: #f2d40d;
  border-color: #f2d40d;
  border-top: none;
  color: #000;
}

.panel-danger .panel-heading .panel-title {
  color: #bc3331;
}

.panel-danger .panel-footer {
  background-color: #bc3331;
  border-color: #bc3331;
  border-top: none;
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-info {
  border-color: #503B82;
}

.panel-info .panel-heading .panel-title {
  color: #5f459b;
}

.panel-info .panel-footer {
  background-color: #5f459b;
  border-color: #5f459b;
  border-top: none;
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-alt {
  background: linear-gradient(-130deg, #5f459b, #8d469a);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel-alt > .panel-heading {
  background-color: transparent !important;
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-alt > .panel-heading h5 {
  font-weight: 400;
}

.panel-alt > .panel-body {
  color: #dedede;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
}

.panel-alt > .panel-body p {
  margin-bottom: 0px;
}

.panel-alt > .panel-footer {
  border: none;
  background-color: transparent !important;
  color: #dedede;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.panel-alt2 {
  border-radius: 4px;
  color: #4b4b4b;
  background: #cacaca;
  text-shadow: #e0e0e0 1px 1px 0;
}

.panel-alt2 > .panel-heading {
  background-color: transparent !important;
}

.panel-alt2 > .panel-heading h5 {
  font-weight: 200;
  font-size: 33px;
}

.panel-alt2 > .panel-body {
  padding: 15px 30px;
}

.panel-alt2 > .panel-body p {
  margin-bottom: 0px;
}

.panel-alt2 > .panel-footer {
  border: none;
  background-color: transparent !important;
}

/*********************************
  Components - Panels END
*********************************/
/*********************************
  Components - Cards
*********************************/
/*Card CSS*/
.card-wrap {
  display: inline-block;
  margin: 10px;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transition: 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: rotateY(0deg);
}

.card-clickable {
  cursor: pointer;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 220px;
  height: 300px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border: none;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card-sm {
  flex: 0 0 160px;
  width: 140px;
  height: 190px;
}

.card-lg {
  flex: 0 0 320px;
  width: 300px;
  height: 410px;
}

.card-noborder {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), inset #333 0 0 0 5px !important;
}

.card-title-lg {
  font-size: 40px !important;
  line-height: 44px !important;
}

.card-title-sm {
  font-size: 18px !important;
  line-height: 20px !important;
}

.card-img {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 3s 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 12px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transition: 0.6s 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-desc {
  display: inline-block;
  transition: 0.6s 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  margin-top: 10px;
  line-height: 18px;
}

.card-title {
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  color: #fff;
  pointer-events: none;
}

.card-noclick:hover {
  pointer-events: none;
}

.card-wrap:hover .card-info {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateY(5px) !important;
}

.card-wrap:hover .card-info .card-desc {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
}

.card-wrap:hover .card-img {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.6;
}

.card-wrap:hover .card {
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 1s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22), inset #333 0 0 0 5px, inset white 0 0 0 6px;
  animation: card-hover-effect;
  animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-nohovereffect {
  animation: none;
}

@keyframes card-hover-effect {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(-8deg) rotateY(-12deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
/*********************************
  Components - Cards END
*********************************/
/*********************************
  Utilities - Shadows
*********************************/
.shadow-depth-0, .shadow-depth-1, .shadow-depth-2, .shadow-depth-3, .shadow-depth-4, .shadow-depth-5 {
  position: relative;
}

.shadow-depth-hover0:hover::before {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.shadow-depth-hover1:hover::before {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-depth-hover2:hover::before {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-depth-hover3:hover::before {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-depth-hover4:hover::before {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-depth-hover5:hover::before {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.shadow-depth-0::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

.shadow-depth-1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

.shadow-depth-2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

.shadow-depth-3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

.shadow-depth-4::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

.shadow-depth-5::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  border-radius: inherit;
}

/*********************************
  Utilities - Shadows End
*********************************/
/*********************************
  Utilities
*********************************/
.no-padding {
  padding: 0px;
}

/*********************************
  Utilities End
*********************************/
/*********************************
  Colors
*********************************/
a.bg-default, .bg-default {
  color: #333;
  background-color: #d9dadc;
}
a.bg-default.lighten, .bg-default.lighten {
  background-color: #eaebed;
}
a.bg-default.darken, .bg-default.darken {
  background-color: #cfd1d5;
}

a.bg-default:hover, a.bg-default:focus {
  color: #333;
  background-color: #cfd1d5;
}

a.text-default, .text-default {
  color: #333;
}

a.text-default:hover, a.text-default:focus {
  color: #4f4f4f;
}

a.bg-primary, .bg-primary {
  color: #fff;
  background-color: #2572b4;
}
a.bg-primary.lighten, .bg-primary.lighten {
  color: #111;
  background-color: #0091ea;
}
a.bg-primary.darken, .bg-primary.darken {
  background-color: #1c578a;
}

a.bg-primary:hover, a.bg-primary:focus {
  color: #FFF;
  background-color: #1c578a;
}

a.text-primary, .text-primary {
  color: #2572b4;
}

a.text-primary:hover, a.text-primary:focus {
  color: #1c578a;
}

a.bg-success, .bg-success {
  color: #111;
  background-color: #689f38;
}
a.bg-success.lighten, .bg-success.lighten {
  color: #333;
  background-color: #79cc03;
}
a.bg-success.darken, .bg-success.darken {
  background-color: #558b2f;
}

a.bg-success:hover, a.bg-success:focus {
  background-color: #79cc03;
}

a.bg-info, .bg-info {
  color: #FFF;
  background-color: #4d4d4d;
}
a.bg-info.lighten, .bg-info.lighten {
  background-color: #343333;
}
a.bg-info.darken, .bg-info.darken {
  background-color: #1a1a1a;
}

a.bg-info:hover, a.bg-info:focus {
  background-color: #343333;
}

a.text-info, .text-info {
  color: #4d4d4d;
}

a.text-info:hover, a.text-info:focus {
  color: #1a1a1a;
}

a.bg-warning, .bg-warning {
  color: #333;
  background-color: #f2d40d;
}
a.bg-warning.lighten, .bg-warning.lighten {
  background-color: #ffea00;
}
a.bg-warning.darken, .bg-warning.darken {
  background-color: #c2aa0a;
}

a.bg-warning:hover, a.bg-warning:focus {
  background-color: #ffea00;
}

a.bg-danger, .bg-danger {
  color: #fff;
  background-color: #bc3331;
}
a.bg-danger.lighten, .bg-danger.lighten {
  color: #111;
  background-color: #f44336;
}
a.bg-danger.darken, .bg-danger.darken {
  background-color: #962927;
}

a.bg-danger:hover, a.bg-danger:focus {
  background-color: #f44336;
}

.white {
  background-color: #FFF !important;
}

.black {
  background-color: #000 !important;
}
.black.lighten-1 {
  background-color: #424242 !important;
}
.black.lighten-2 {
  background-color: #9e9e9e !important;
}

.red {
  background-color: #D12131 !important;
}
.red.lighten-1 {
  background-color: #e37a83 !important;
}
.red.lighten-2 {
  background-color: #f1bcc1 !important;
}

.pink {
  background-color: #e83a53 !important;
}
.pink.lighten-1 {
  background-color: #f18998 !important;
}
.pink.lighten-2 {
  background-color: #f8c4cb !important;
}

.orange {
  background-color: #ec5f25 !important;
}
.orange.lighten-1 {
  background-color: #f49f7c !important;
}
.orange.lighten-2 {
  background-color: #f9cfbd !important;
}

.light-orange {
  background-color: #f5896c !important;
}
.light-orange.lighten-1 {
  background-color: #f9b8a7 !important;
}
.light-orange.lighten-2 {
  background-color: #fcdbd3 !important;
}

.purple {
  background-color: #8d469a !important;
}
.purple.lighten-1 {
  background-color: #bb90c2 !important;
}
.purple.lighten-2 {
  background-color: #ddc7e1 !important;
}

.deep-purple {
  background-color: #5f459b !important;
}
.deep-purple.lighten-1 {
  background-color: #9f8fc3 !important;
}
.deep-purple.lighten-2 {
  background-color: #cfc7e1 !important;
}

.indigo {
  background-color: #0b5991 !important;
}
.indigo.lighten-1 {
  background-color: #6d9bbd !important;
}
.indigo.lighten-2 {
  background-color: #b5cdde !important;
}

.blue {
  background-color: #0b5991 !important;
}
.blue.lighten-1 {
  background-color: #2359a8 !important;
}
.blue.lighten-2 {
  background-color: #bdcde5 !important;
}

.light-blue {
  background-color: #65c4d3 !important;
}
.light-blue.lighten-1 {
  background-color: #a3dce5 !important;
}
.light-blue.lighten-2 {
  background-color: #d0edf2 !important;
}

.cyan {
  background-color: #00adba !important;
}
.cyan.lighten-1 {
  background-color: #66ced6 !important;
}
.cyan.lighten-2 {
  background-color: #b2e6ea !important;
}

.dark-cyan {
  background-color: #1a8a8c !important;
}
.dark-cyan.lighten-1 {
  background-color: #77b8b9 !important;
}
.dark-cyan.lighten-2 {
  background-color: #badbdc !important;
}

.green {
  background-color: #62b9af !important;
}
.green.lighten-1 {
  background-color: #a3d6cf !important;
}
.green.lighten-2 {
  background-color: #d0eae7 !important;
}

.light-green {
  background-color: #b1d0b0 !important;
}
.light-green.lighten-1 {
  background-color: #d0e2cf !important;
}
.light-green.lighten-2 {
  background-color: #e7f1e7 !important;
}

.yellow {
  background-color: #fcce08 !important;
}
.yellow.lighten-1 {
  background-color: #fadd9b !important;
}
.yellow.lighten-2 {
  background-color: #fdeecd !important;
}

.light-yellow {
  background-color: #f7c362 !important;
}
.light-yellow.lighten-1 {
  background-color: #fadba0 !important;
}
.light-yellow.lighten-2 {
  background-color: #fdedcf !important;
}

.brown {
  background-color: #954f22 !important;
}
.brown.lighten-1 {
  background-color: #bf957b !important;
}
.brown.lighten-2 {
  background-color: #dfcabd !important;
}

.dark-green {
  background-color: #8b7f38 !important;
}
.dark-green.lighten-1 {
  background-color: #bab389 !important;
}
.dark-green.lighten-2 {
  background-color: #dcd9c4 !important;
}

.text-white {
  color: #FFF !important;
}

.text-black {
  color: #000 !important;
}
.text-black.text-lighten-1 {
  color: #424242 !important;
}
.text-black.text-lighten-2 {
  color: #9e9e9e !important;
}
.text-black.text-lighten-3 {
  color: #e0e0e0 !important;
}

.text-red {
  color: #D12131 !important;
}
.text-red.text-lighten-1 {
  color: #e37a83 !important;
}
.text-red.text-lighten-2 {
  color: #f1bcc1 !important;
}

.text-pink {
  color: #e83a53 !important;
}
.text-pink.text-lighten-1 {
  color: #f18998 !important;
}
.text-pink.text-lighten-2 {
  color: #f8c4cb !important;
}

.text-orange {
  color: #ec5f25 !important;
}
.text-orange.text-lighten-1 {
  color: #f49f7c !important;
}
.text-orange.text-lighten-2 {
  color: #f9cfbd !important;
}

.text-light-orange {
  color: #f5896c !important;
}
.text-light-orange.text-lighten-1 {
  color: #f9b8a7 !important;
}
.text-light-orange.text-lighten-2 {
  color: #fcdbd3 !important;
}

.text-purple {
  color: #8d469a !important;
}
.text-purple.text-lighten-1 {
  color: #bb90c2 !important;
}
.text-purple.text-lighten-2 {
  color: #ddc7e1 !important;
}

.text-deep-purple {
  color: #5f459b !important;
}
.text-deep-purple.text-lighten-1 {
  color: #9f8fc3 !important;
}
.text-deep-purple.text-lighten-2 {
  color: #cfc7e1 !important;
}

.text-indigo {
  color: #0b5991 !important;
}
.text-indigo.text-lighten-1 {
  color: #6d9bbd !important;
}
.text-indigo.text-lighten-2 {
  color: #b5cdde !important;
}

.text-blue {
  color: #0b5991 !important;
}
.text-blue.text-lighten-1 {
  color: #2359a8 !important;
}
.text-blue.text-lighten-2 {
  color: #bdcde5 !important;
}

.text-light-blue {
  color: #65c4d3 !important;
}
.text-light-blue.text-lighten-1 {
  color: #a3dce5 !important;
}
.text-light-blue.text-lighten-2 {
  color: #d0edf2 !important;
}

.text-cyan {
  color: #00adba !important;
}
.text-cyan.text-lighten-1 {
  color: #66ced6 !important;
}
.text-cyan.text-lighten-2 {
  color: #b2e6ea !important;
}

.text-dark-cyan {
  color: #1a8a8c !important;
}
.text-dark-cyan.text-lighten-1 {
  color: #77b8b9 !important;
}
.text-dark-cyan.text-lighten-2 {
  color: #badbdc !important;
}

.text-green {
  color: #62b9af !important;
}
.text-green.text-lighten-1 {
  color: #a3d6cf !important;
}
.text-green.text-lighten-2 {
  color: #d0eae7 !important;
}

.text-light-green {
  color: #b1d0b0 !important;
}
.text-light-green.text-lighten-1 {
  color: #d0e2cf !important;
}
.text-light-green.text-lighten-2 {
  color: #e7f1e7 !important;
}

.text-yellow {
  color: #fcce08 !important;
}
.text-yellow.text-lighten-1 {
  color: #fadd9b !important;
}
.text-yellow.text-lighten-2 {
  color: #fdeecd !important;
}

.text-light-yellow {
  color: #f7c362 !important;
}
.text-light-yellow.text-lighten-1 {
  color: #fadba0 !important;
}
.text-light-yellow.text-lighten-2 {
  color: #fdedcf !important;
}

.text-brown {
  color: #954f22 !important;
}
.text-brown.text-lighten-1 {
  color: #bf957b !important;
}
.text-brown.text-lighten-2 {
  color: #dfcabd !important;
}

.text-dark-green {
  color: #8b7f38 !important;
}
.text-dark-green.text-lighten-1 {
  color: #bab389 !important;
}
.text-dark-green.text-lighten-2 {
  color: #dcd9c4 !important;
}

/*********************************
  Colors End
*********************************/
/********************************************/
/********** JAVASCRIPT COMPONENTS ***********/
/******************/
/***** MODAL ******/
.mfp-bg {
  opacity: 0.75;
  animation: cdk-grow-in-block 0.225s ease;
}

.modal-content, .modal-dialog {
  animation: cdk-grow-in-solid 0.225s ease;
}

.wb-panel-l {
  box-shadow: none;
  border-right: 1px solid #E5E5E5;
  animation: slide-in-left 0.225s ease;
}

.wb-panel-r {
  box-shadow: none;
  border-left: 1px solid #E5E5E5;
  animation: slide-in-right 0.225s ease;
}

.wb-bar-t {
  box-shadow: none;
  border-bottom: 1px solid #E5E5E5;
  animation: slide-in-top 0.225s ease;
}

.wb-bar-b {
  box-shadow: none;
  border-top: 1px solid #E5E5E5;
  animation: slide-in-bottom 0.225s ease;
}

.wb-popup-mid {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes cdk-grow-in-solid {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cdk-grow-in-block {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.75;
    transform: scale(1);
  }
}
/******************/
/**** TOOLTIP *****/
.tooltip.right {
  margin-top: 10px;
  margin-left: 5px;
}

.tooltip.top {
  margin-top: -15px;
  margin-left: 15px;
}

.tooltip.bottom {
  margin-top: 5px;
  margin-left: 15px;
}

.tooltip.left {
  margin-top: 10px;
  margin-left: -15px;
}

/********************************************/
/****************** FORMS *******************/
/******************/
/***** INPUT ******/
/******************/
/**** CHECKBOX ****/
.form-horizontal .cdk-check {
  top: 11px;
}

.cdk-check {
  border-radius: 3px;
  border: 3px solid #2572b4;
  background-color: white;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
  transition: border-color 0.225s ease;
}

.cdk-check:after {
  width: 100%;
  height: 100%;
  background-color: #2572b4;
  content: "";
  position: absolute;
  transform: scale(0);
  border-radius: 50%;
  transition: background-color 0.225s ease, border-radius 0.45s ease, transform 0.225s ease;
}

.checkbox label {
  margin-left: 20px;
}

.checkbox label input:checked + .cdk-check:after {
  transform: scale(1);
  border-radius: 0px;
}

.checkbox label:hover .cdk-check {
  border-color: #0091ea;
}

.checkbox label:hover .cdk-check:after {
  background-color: #0091ea;
}

.checkbox label input:focus + .cdk-check {
  border-color: #1c578a;
}

.checkbox label input:active + .cdk-check {
  border-color: #0F2E4A;
}

.checkbox label input:focus + .cdk-check:after {
  background-color: #1c578a;
}

.checkbox label input:active + .cdk-check:after {
  background-color: #0F2E4A;
}

/******************/
/***** RADIO ******/
.form-horizontal .cdk-radio {
  top: 11px;
}

.cdk-radio {
  background-color: white;
  border-radius: 50%;
  border: 3px solid #2572b4;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
  transition: border 0.225s ease;
}

.radio label {
  margin-left: 20px;
}

.radio label input:checked + .cdk-radio {
  border: 9px solid #2572b4;
  transform: scale(1);
}

.radio label:hover .cdk-radio {
  border-color: #0091ea;
}

.radio label input:focus + .cdk-radio {
  border-color: #1c578a;
}

.radio label input:active + .cdk-radio {
  border-color: #0F2E4A;
}

/*****************************/
/******* SINGLE SELECT *******/
/*****************************/
/******* MULTI SELECT ********/
/*****************************/
/***** SELECTIZE SINGLE ******/
.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 16px;
  line-height: 20px;
}

.selectize-dropdown .optgroup-header {
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 10px 15px;
}

.selectize-control.multi .selectize-input div {
  margin-top: 1px;
  background-color: #FFF;
  border: 1px solid #6d6d6d;
  padding: 2px 10px;
  border-radius: 14px;
  font-weight: 400;
  margin-right: 4px;
}

/*****************************/
/****** SELECTIZE MULTI ******/
/*CDO Arrows Flairs*/
.arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  backface-visibility: hidden;
}

.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  backface-visibility: hidden;
}

.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  backface-visibility: hidden;
}

.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
  backface-visibility: hidden;
}

.arrow-1 {
  left: 0px;
  top: 0px;
  border-bottom-color: #d5dcef;
}

.arrow-2 {
  left: 0px;
  top: 30px;
  border-top-color: #e8eefc;
}

.arrow-3 {
  left: 30px;
  top: 30px;
  border-bottom-color: #acaed1;
}

.arrow-4 {
  left: 30px;
  top: 60px;
  border-top-color: #e8eefc;
}

.arrow-5 {
  left: 60px;
  top: 60px;
  border-right-color: #c3cae2;
}

.arrow-6 {
  left: 90px;
  top: 60px;
  border-left-color: #acaed1;
}

.arrow-7 {
  left: 30px;
  top: 90px;
  border-right-color: #b4e895;
}

.arrow-8 {
  left: 60px;
  top: 90px;
  border-left-color: #98bf7f;
}

.arrow-9 {
  left: 0px;
  top: 120px;
  border-right-color: #a9d38d;
}

.arrow-10 {
  left: 30px;
  top: 120px;
  border-left-color: #ddf9c2;
}

/*Footer*/
#wb-info {
  margin-top: 20px;
}

#wb-info .landscape {
  background: #26374a url(../images/landscape.png) no-repeat right bottom;
}

/*Home Banner*/
.home-banner {
  background-color: #eee;
  background-image: url("/images/background1.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 80%;
  color: #fff;
  cursor: default;
}

.home-banner .innerbox {
  background-color: #26374a;
  margin: 2em 0;
  padding: 20px;
  width: 50%;
}

.home-banner .innerbox h1 {
  border-bottom-width: 4px;
  font-weight: 500;
  margin-top: 10px;
}

.home-banner .innerbox p {
  margin-top: 15px;
}

.home-banner .promo {
  background-color: #355688;
  opacity: 0.9;
}

.promo-text {
  padding: 8px 20px;
}

/*# sourceMappingURL=CDO-theme.css.map */
