body {
  font-size: 1.2vw;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.leaflet-top.leaflet-left {
  margin-top: 80px
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#navbar {
  width: 100%;
  background-color: #3F729B;
  color: white;
  height: 70px;
  padding-top: 7px;
  position: fixed;
  z-index: 1000;
}

#navbar a:last-child, #navbar a:nth-last-child(2) {
  padding: 15px;
  margin-right: 5px;
  float: right;
  color: white;
}

#logo {
  font-weight: 1000;
  font-size: 30px;
}

#menu {
  line-height: 1.2vw;
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: rgba(255,255,255,0.7);
  z-index: 1000;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  max-width: 30%;
}

#menu button {
  width: 100%;
  background-color: #ad1457;
  color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ad1457;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ad1457;
  cursor: pointer;
}

.slidecontainer label:first-child {
  float: left;
}

.slidecontainer label:nth-last-child(2) {
  float: right;
}

.btn {
  margin: 5px !important;
}

select:hover {
  cursor: pointer;
}

.tbl-var {
  font-weight: 700;
  color: #ad1457;
  padding-right: 10px;
  font-size: 1vw;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #ad1457;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 2000;
  bottom: -140%;
  right: 102%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5%;
  border-width: 15px;
  border-style: solid;
  border-color: #ad1457 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#loader div {
  display: inline-block;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
