<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Title and description tags-->
      <title>POS Accessibility</title>
      <meta name="description" content="TBD"/>
    <!-- Device META tags-->
      <meta content="width=device-width,initial-scale=1" name="viewport"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Favicon Icon -->
      <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" href="static/images/favicon-mobile.png" class="wb-favicon" />
      <link href="static/images/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited"/>

    <!-- Font CSS-->
      <link rel="stylesheet" href="/static/stylesheets/font.css" />

    <!--External Scripts and CSS-->
      <!-- Jquery -->
      <script src="static/javascripts/external/jquery-3.3.1.min.js"></script>
      <!-- WET + CDO design Kit -->
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <link rel="stylesheet" href="/static/stylesheets/WET/theme.css"/>
      <link rel="stylesheet" href="/static/stylesheets/CDO-theme.css"/>
      <script src="/static/javascripts/external/selectize.min.js"></script>
    <!--Interal Scripts and CSS -->
      <link rel="stylesheet" href="/static/stylesheets/index.css" />

  </head>
  <body typeof="WebPage">
    <ul id="wb-tphp">
      <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
      </li>
      <li class="wb-slc">
        <a class="wb-sl" href="#wb-info">Skip to "About government"</a> <!-- TODO: Update to correct buttons-->
      </li>
    </ul>
    <div id="main">
      <div class="container">
        <h2 class="mrgn-tp-xl mrgn-bttm-xl col-lg-12">
          Oh No! This page does not exist.
        </h2>
        <h2 class="mrgn-tp-xl mrgn-bttm-xl col-lg-12">Go back to <a href="/">POS Accessibility</a></h2>
      </div>
    </div>
    <!-- WET JS part -->
    <script src="/static/javascripts/WET/wet-boew.js"></script>
    <script src="/static/javascripts/WET/theme.js"></script>
    <script src="/static/javascripts/CDO-theme.js"></script>
  </body>
</html>
