<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Title and description tags-->
      <title>POS Accessibility</title>
      <meta name="description" content="TBD"/>
    <!-- Device META tags-->
      <meta content="width=device-width,initial-scale=1" name="viewport"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Favicon Icon -->
      <link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" href="static/images/favicon-mobile.png" class="wb-favicon" />
      <link href="static/images/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited"/>

    <!-- Font CSS-->
      <link rel="stylesheet" href="static/stylesheets/font.css" />

    <!--External Scripts and CSS-->
      <!-- Jquery -->
      <script src="static/javascripts/external/jquery-3.3.1.min.js"></script>
      <!-- WET + CDO design Kit -->
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <link rel="stylesheet" href="static/stylesheets/WET/theme.css"/>
      <link rel="stylesheet" href="static/stylesheets/CDO-theme.css"/>
      <!-- <script src="http://10.56.49.141:3099/cdk.js"></script> -->
      <script src="static/javascripts/external/selectize.min.js"></script>
      <!-- Font Awesome 5 -->
      <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
      <!-- Leaflet -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
      <!-- Leaflet Search -->
      <link rel="stylesheet" href="static/javascripts/external/leaflet-search/src/leaflet-search.css">
      <script src="static/javascripts/external/leaflet-search/src/leaflet-search.js"></script>

      <!-- <link rel="stylesheet" href="static/javascripts/external/Leaflet.ExtraMarkers/dist/css/leaflet.extra-markers.min.css">  -->
      <!-- <script src="static/javascripts/external/Leaflet.ExtraMarkers/dist/js/leaflet.extra-markers.min.js"></script> -->
      <!-- Chroma.js -->
      <script src="static/javascripts/external/chroma.min.js"></script>
      <!--Interal Scripts and CSS -->
      <link rel="stylesheet" href="static/stylesheets/index.css" />
      <script src="/static/javascripts/download.js"></script>
      <script src="/static/javascripts/map.js"></script>
      <script src="/static/javascripts/index.js"></script>

      <script>
        var poi = JSON.parse({{ poi | tojson }});
        console.log(poi)

      </script>
  </head>
  <body>
   <div id="navbar">
     <a id="logo" class="col-lg-5">PASS</a>
     <a id="guide" class="wb-lbx" href="#popup-modal-guide" aria-controls="popup-modal" role="button">Guide</a>
     <a id="about" class="wb-lbx" href="#popup-modal-about" aria-controls="popup-modal" role="button">About</a>
   </div>
   <div id="map"></div>
   <div id="menu">
     <p>Welcome to the <strong>P</strong>otential <strong>A</strong>ccessibility <strong>S</strong>oftware <strong>S</strong>ervice, <strong>PASS</strong>, a tool that measures potential spatial accessibility. Pan and zoom to your area of interest, change the parameters below, and submit to calculate accessibility scores. To learn more about the methodology, checkout <a class="wb-lbx" href="#popup-modal-about" aria-controls="popup-modal" role="button">About</a></p>
     <p>
       <label>Travel Time Threshold: <label id="threshold-value">60</label> minutes</label>
       <div class="slidecontainer">
          <label>5</label>
          <label>60</label>
          <input type="range" min="5" max="60" value="60" class="slider" id="threshold">
       </div>
    </p>
    <p>
       <label>Mode of transportation</label>
       <select id="transportation" class="single-selects selectize-input items full has-options has-items">
         <option value="car">Car</option>
         <option value="public transit">Public Transit</option>
       </select>
    </p>
    <p>
       <label>Willingness to Commute</label>
       <select id="beta" class="single-selects selectize-input items full has-options has-items">
         <option value="1.5">Less</option>
         <option value="1.0">Medium</option>
         <option value="0.5">More</option>
       </select>
    </p>
    <p>
      <label>Population Group</label>
      <select id="demand" class="single-selects selectize-input items full has-options has-items">
        {% for val in demand_cols %}
        <option value="{{val[0]}}">{{val[0]}}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <label>Supply</label>
      <select id="supply" class="single-selects selectize-input items full has-options has-items">
        {% for val in supply_cols %}
        <option value="{{val[0]}}">{{val[0]}}</option>
        {% endfor %}
      </select>
    </p>

     <button id="model" class="btn popup">Calculate Spatial Accessibility Index</button>
   </div>

    <section class="mfp-hide modal-content modal-dialog overlay-def" id="popup-modal-about">
      <header class="modal-header">
        <h2 class="modal-title">About PASS</h2>
      </header>
      <div class="modal-body">
        <h3>Methodology</h3>
        <p>
          TO COMPLETE
        </p>
        <h3>Developers</h3>
        <ul>
          <li>Julia Conzon</li>
          <li>Chelsea Ernhofers</li>
        </ul>
      </div>
    </section>

    <section class="mfp-hide modal-content modal-dialog overlay-def" id="popup-modal-guide">
      <header class="modal-header">
        <h2 class="modal-title">Guide</h2>
      </header>
      <div class="modal-body">
        <h3>PASS Guide</h3>
        <p> CDO
        </p>
      </div>
    </section>
    <!-- WET JS part -->
    <script src="static/javascripts/WET/wet-boew.js"></script>
    <script src="static/javascripts/WET/theme.js"></script>
    <script src="static/javascripts/CDO-theme.js"></script>
  </body>
</html>
